@charset "UTF-8";

/*Typical Device Breakpoints
Da data de lancamento do video:
Telas pequenas: ate 600px
Celular: 600px ate 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width:768px) {
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
}